*{
    box-sizing: border-box;
} 

body{
    margin: 0;
    padding: 0;
    background: burlywood;
    width: 100vw;
    height: 100vh;
} 

.header{
    padding: 30px;
    margin: 0;
    text-align: center;
    background-color: rgb(48, 45, 45);
    color: white;
    font-size: 40px;
}

.start_btn,
.infro_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: blueviolet;
    padding: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}

.infro_box{
    width: 540px;
    background: white;
    border-radius: 5px;
}

.infro_box .info_title{
    height: 60px;
    width: 100%;
    border-bottom: 2px soild lightgrey ;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}
.infro_box .info_list{
    padding: 15px 35px;
}

.infro_box .info_list .info{
    margin: 5px 0;
    font-size: 17px;
}

.infro_box .info_list .info span{
    font-weight: 600;
    color: blue;
}

.infro_box .buttons{
    height: 60px;
    display: flex;
    justify-content: flex-end;
    padding: 0 40px;
    border-top: 1px solid white;
}

.infro_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid blue;
    background: blue;
    color: white;
    font-size: 15px;
    font-weight:500 ;
    cursor: pointer;
}

.buttons button .quiz{
    color: rgb(0, 183, 255);
}

.buttons button .quiz:hover{
    color:white;
    background: blue;
}
}


.buttons button .restart{
    color:white;
    background: blue;
}

.buttons button .restart:hover{
    background: blue;
}

.hide{
    display: none;
}

.timer{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    
}

.quiz_box{
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin: 0 300px;
    /* width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: ;
    padding: 10px 50px 50px 50px;
    border: 2px solid #cbcbcb; */
}

.hide{
    display: none;
}

.quiz_box h1{
    font-family: "sans-serif";
    font-size: 40px;
    text-align: center;
    color:black;
    padding: 2px 0px;
}



.answer{
    background-color: #01BBFF;
    width: 250px;
    font-size: 20px;
    color: #fff;
    border: 1px solid #1D3C6A;
    margin: 10px 40px 10px 100px;
    padding: 10px 10px;
}

.answer:hover{
    cursor: pointer;
    background-color: #215568;
    outline: 0;
}

.timer{
    margin: 0;
    margin-right: 200px;
    display: flex;
    justify-content: center;
}

#score
{
    padding: 40px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

